In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../dataset/business.csv')

In [3]:
df[['name','categories']].head(10)

,name,categories
0,b'Dental by Design',"['Dentists', 'General Dentistry', 'Health & Me..."
1,b'Stephen Szabo Salon',"['Hair Stylists', 'Hair Salons', ""Men's Hair S..."
2,b'Western Motor Vehicle',"['Departments of Motor Vehicles', 'Public Serv..."
3,b'Sports Authority',"['Sporting Goods', 'Shopping']"
4,b'Brick House Tavern + Tap',"['American (New)', 'Nightlife', 'Bars', 'Sandw..."
5,b'Messina',"['Italian', 'Restaurants']"
6,b'BDJ Realty',"['Real Estate Services', 'Real Estate', 'Home ..."
7,b'Soccer Zone',"['Shopping', 'Sporting Goods']"
8,b'Any Given Sundae',"['Coffee & Tea', 'Ice Cream & Frozen Yogurt', ..."
9,b'Detailing Gone Mobile',"['Automotive', 'Auto Detailing']"

In [8]:
df.head()

,neighborhood,attributes.DriveThru,attributes.DietaryRestrictions.dairy-free,attributes.DogsAllowed,attributes.RestaurantsDelivery,business_id,attributes.RestaurantsAttire,attributes.CoatCheck,attributes.GoodForMeal.dessert,attributes.GoodForMeal.lunch,...,attributes.Music.jukebox,attributes.GoodForDancing,attributes.RestaurantsReservations,state,attributes.BusinessAcceptsCreditCards,attributes.Alcohol,attributes.DietaryRestrictions.vegetarian,attributes.RestaurantsPriceRange2,attributes.GoodForMeal.breakfast,attributes.Ambience.classy
0,b'',NaN,NaN,NaN,NaN,b'FYWN1wneV18bWNgQjJ2GNg',NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,b'AZ',True,NaN,NaN,NaN,NaN,NaN
1,b'',NaN,NaN,NaN,NaN,b'He-G7vWjzVUysIKrfNbPUQ',NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,b'PA',True,NaN,NaN,3.0,NaN,NaN
2,b'',NaN,NaN,NaN,NaN,b'KQPW8lFf1y5BT2MxiSZ3QA',NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,b'AZ',NaN,NaN,NaN,NaN,NaN,NaN
3,b'',NaN,NaN,NaN,NaN,b'8DShNS-LuFqpEWIp0HxijA',NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,b'AZ',True,NaN,NaN,2.0,NaN,NaN
4,b'',False,NaN,NaN,False,b'PfOCPjBrlQAnz__NXj9h_w',b'casual',False,False,False,...,False,False,False,b'OH',True,b'full_bar',NaN,2.0,False,False

In [9]:
df.shape

(174567, 101)

In [8]:
df2=pd.read_csv('../dataset/review.csv')

In [3]:
df2.shape

(5261669, 9)

In [9]:
df2[['text','stars']].head()

                                                text  stars
0  b"Love the staff, love the meat, love the plac...      5
1  b"Super simple place but amazing nonetheless. ...      5
2  b"Small unassuming place that changes their me...      5
3  b"Lester's is located in a beautiful neighborh...      5
4  b"Love coming here. Yes the place always needs...      4

In [16]:
five_star=df2[df2['stars']==5]

In [6]:
five_star.shape

(2253348, 9)

In [10]:
restaurants = df[df['categories'].str.contains('Restaurants')]

In [11]:
restaurants.shape

(54618, 101)

In [12]:
restaurants_clean=restaurants[['business_id','name']]

In [13]:
restaurants_clean.head()

                  business_id                           name
4   b'PfOCPjBrlQAnz__NXj9h_w'    b'Brick House Tavern + Tap'
5   b'o9eMRCWt5PkpLDE0gOPtcQ'                     b'Messina'
10  b'XOSRcvtaKc_Q5H1SAzN20A'           b'East Coast Coffee'
14  b'fNMVV_ZX7CJSDWQGdOM8Nw'  b'Showmars Government Center'
15  b'l09JfMeQ6ynYs5MCJtrcmQ'              b'Alize Catering'

In [14]:
restaurants_clean.shape

(54618, 2)

In [17]:
combo=pd.merge(restaurants_clean, five_star, on='business_id')

In [18]:
combo.shape

(1214484, 10)

In [19]:
combo.head()

,business_id,name,review_id,text,cool,date,funny,useful,user_id,stars
0,b'PfOCPjBrlQAnz__NXj9h_w',b'Brick House Tavern + Tap',b'fCCL0pAgYGccUs8shHHIUA',b'I am updating my review to 5-stars because I...,2,b'2015-10-09',0,2,b'PixAmdRa58XZ3hr8YLS36g',5
1,b'PfOCPjBrlQAnz__NXj9h_w',b'Brick House Tavern + Tap',b'0xKMIkhPVYCSPDA6afn0aw',"b""This place is AMAZING!! We found it by chanc...",0,b'2016-01-03',0,0,b'ajvbqTp1QbKo4pqZmVanYg',5
2,b'PfOCPjBrlQAnz__NXj9h_w',b'Brick House Tavern + Tap',b'zorTHqYr_rxVLYgKmlvA6w',b'One of my favorite places to eat! Brunch is...,1,b'2015-05-25',0,0,b'm0XvqE6XZgqtNulippuVvw',5
3,b'PfOCPjBrlQAnz__NXj9h_w',b'Brick House Tavern + Tap',b'sa6lbcuzaMkjVegOT21t8Q',"b""Been going here for years and it's still my ...",0,b'2017-05-29',0,0,b'sXK_eyLpGrNBIAq9fIRGSg',5
4,b'PfOCPjBrlQAnz__NXj9h_w',b'Brick House Tavern + Tap',b'9HPRciMKI0QOVeMtQQs56w',b'I came here with my brother and the atmosphe...,0,b'2012-11-23',0,0,b'OQ_iIzW0c8PoGUcmEr_V7g',5

In [20]:
rnn_fivestar_reviews_only=combo[['text']]

In [21]:
rnn_fivestar_reviews_only.head()

                                                text
0  b'I am updating my review to 5-stars because I...
1  b"This place is AMAZING!! We found it by chanc...
2  b'One of my favorite  places to eat! Brunch is...
3  b"Been going here for years and it's still my ...
4  b'I came here with my brother and the atmosphe...

In [22]:
rnn_fivestar_reviews_only.shape

(1214484, 1)

In [23]:
rnn_fivestar_reviews_only=rnn_fivestar_reviews_only.replace({r'\n+': ''}, regex=True)

In [24]:
final=rnn_fivestar_reviews_only.drop_duplicates()

In [25]:
final.shape

(1214016, 1)

In [45]:
final['text'][98836]

"<SOR>b'Hummus is amazing and fresh! Loved the falafels. I will definitely be back. Great owner, friendly staff'<EOR>"

In [27]:
#Add start and end of review with <SOR> and <EOR> to each review
final['text']='<SOR>' + final['text'].astype(str)+'<EOR>'

c:\users\hasee\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
final.head()

                                                text
0  <SOR>b'I am updating my review to 5-stars beca...
1  <SOR>b"This place is AMAZING!! We found it by ...
2  <SOR>b'One of my favorite  places to eat! Brun...
3  <SOR>b"Been going here for years and it's stil...
4  <SOR>b'I came here with my brother and the atm...

In [44]:
final['text'][98836]

"<SOR>b'Hummus is amazing and fresh! Loved the falafels. I will definitely be back. Great owner, friendly staff'<EOR>"

In [32]:
final.loc[3][0]

'<SOR>b"Been going here for years and it\'s still my favorite place. The servers are friendly and the atmosphere is perfect for any occasion!"<EOR>'

In [35]:
#create a csv of this for future use
filename='../dataset/five_star_restaurants_reviews_only.csv'
final.to_csv(filename, index=False, encoding='utf-8')

In [36]:
#full text file of all reviews to train on
filename='../dataset/five_star_text.txt'
final.to_csv(filename, header=None, index=None, sep=' ')